<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MILAN - 2018</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" media="screen" href="../static/css/index.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="../static/css/about.css" />
  <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
</head>

<body>
  <section class="cover text-center">
    <nav class="navbar navbar-expand-lg navbar-trans navbar-inverse noselect">
      <div class="container">
        <i class="fa fa-bars navbar-toggler navbar-toggler-right" onclick="clickedIt()" data-toggle="collapse" data-target="#navbarToggler-1"></i>
        <a class="navbar-brand" href="../index.html">MILAN</a>
        <div class="collapse navbar-collapse pull-xs-right justify-content-end" id="navbarToggler-1">
          <ul class="navbar-nav mt-2 mt-md-0">
            <li class="nav-item active">
              <a class="nav-link" href="../index.html">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./about.html">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./hospitality.html">Hospitality</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./events.html">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./sponsers.html">Sponsers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./ca.html">Campus Ambassador</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./team.html">Team</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-outline-white btn-outline" href="./register.html">
                <i class="fa fa-user"></i> Login
              </a>
            </li>
            <li class="nav-item">
              <a class="btn btn-outline-white btn-outline" href="./register.html">
                <i class="fa fa-user"></i> Register
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container noselect">
      <div class="card text-white bg-dark mb-3" id="aboutFest">
        <div class="card-body">
          <h2 class="card-title">About <b>MILAN</b></h2>
          <p class="card-text">We present to you, the biggest college fest in Kalyani. MILAN, with its inception in the year 2018, is the international student fest of <b>Indian Institute of Information Technology, Kalyani</b>. Spread across a span of three days, the fest provides students from junior and under graduate colleges a chance to participate and explore. Be it an exposure to the different worlds of technology and computer science, a chance to discuss world issues at an international model UN conference, participating and showcasing talent in a cultural extravaganza or showing their competitive spirit through sports, MILAN has it all. With immense and growing national and international participation, Milan aims at being one of the premier fests of the country and an unforgettable experience for all.
          </p>
        </div>
      </div>
      <div class="container facts noselect">
          <h5 style="color:gray; letter-spacing: 2px;">SOME INTERESTING FACTS</h5>
          <div class="row">
            <div class="col-sm facts_head">
              <h4><i class="fa fa-trophy" aria-hidden="true"></i>  PRIZE MONEY</h4>
              <div class="facts_value count">75000</div>
            </div>
            <div class="col-sm facts_head">
              <h4><i class="fa fa-briefcase" aria-hidden="true"></i>  EVENTS</h4>
              <div class="facts_value"><span class="count">50</span>+</div>
            </div>
            <div class="col-sm facts_head">
              <h4><i class="fa fa-smile-o" aria-hidden="true"></i>  EXPECTED FOOTFALL</h4>
              <div class="facts_value count">20000</div>
            </div>
          </div>
        </div>

      <div class="card text-white bg-dark mb-3" id="aboutFest">
          <div class="card-body">
            <h2 class="card-title">About <b>IIIT Kalyani</b></h2>
            <p class="card-text">Dedicated to the service of the Nation,the motto of IIIT Kalyani is <br><b>"vidya dharma sarva dhanam pradhanam"</b><br> This literally translates to "Education is the most important wealth", essentially implying that doing your work well is (true) yoga. This can be traced to Sri Krishna's discourse with Arjuna in the Bhagavad Gita. The quote, in the larger context of the Gita, urges man to acquire equanimity because a mind of equanimity allows a man to shed distracting thoughts of the effects of his deeds and concentrate on the task before him. Equanimity is the source of perfection in Karmic endeavours that leads to Salvation.
            </p>
          </div>
        </div>
    </div>
    <div class="container banner">
      <div class="social">
        <ul class="social-icons">
          <li class="social-icon">
            <a href="#" target="_blank">
              <i class="fa fa-facebook-square"></i>
            </a>
          </li>
          <li class="social-icon">
            <a href="#" target="_blank">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
          <li class="social-icon">
            <a href="#" target="_blank">
              <i class="fa fa-twitter-square"></i>
            </a>
          </li>
          <li class="social-icon">
            <a href="#" target="_blank">
              <i class="fa fa-youtube-square"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/core.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="../static/js/about.js"></script>
</body>

</html>