<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MILAN - 2018</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" media="screen" href="../static/css/index.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="../static/css/ca.css" />
  <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
</head>

<body>
  <section class="cover text-center">
    <nav class="navbar navbar-expand-lg navbar-trans navbar-inverse noselect">
      <div class="container">
        <i class="fa fa-bars navbar-toggler navbar-toggler-right" onclick="clickedIt()" data-toggle="collapse" data-target="#navbarToggler-1"></i>
        <a class="navbar-brand" href="./index.html">MILAN</a>
        <div class="collapse navbar-collapse pull-xs-right justify-content-end" id="navbarToggler-1">
          <ul class="navbar-nav mt-2 mt-md-0">
            <li class="nav-item active">
              <a class="nav-link" href="./index.html">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./about.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./hospitality.html">Hospitality</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./sponsers.html">Sponsers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./ca.html">Campus Ambassador</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Team</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-outline-white btn-outline" href="#">
                <i class="fa fa-user"></i> Login
              </a>
            </li>
            <li class="nav-item">
              <a class="btn btn-outline-white btn-outline" href="#">
                <i class="fa fa-user"></i> Register
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container noselect">
      <br>
      <h1>Campus Ambassador Program</h1>
      <br>
      <div class="card text-white bg-dark mb-3 aboutCAP" style="text-align: left;">
        <div class="card-body">
          <h2 class="card-title" style="text-align: center;">Why
            <b>CAP</b> ?</h2>
          <p class="card-text">
            <ul>
              <li>
                Improve your
                <b>Managerial and Communication skill</b> set
              </li>
              <li>
                Help build MILAN, by giving ideas and conducting City Eliminations
              </li>
              <li>
                <b>Prizes net Worth ₹200,000 to be won</b>
              </li>
              <li>
                <b>Full waiver</b> of travel expenses to MILAN*
              </li>
              <li>
                <b>Certificate</b> commemorating your efforts*
              </li>
            </ul>
          </p>
        </div>
      </div>
      <div class="container noselect">
        <div class="row">
          <div class="col-sm facts_head">
            <div class="card text-white bg-dark mb-3" style="text-align: left;">
              <div class="card-body">
                <h2 class="card-title" style="text-align: center;">Responsibilities as a CA</h2>
                <p class="card-text">
                  <ul>
                    <li>
                      Publicize MILAN in your respective colleges. Be the part of fraternity organising MILAN, helping publicize alcher on social
                      media and your college.
                    </li>
                    <li>
                      Give presentation to key clubs and social groups in your campus
                    </li>
                    <li>
                      Helping conduct City Elimination in respective cities.
                    </li>
                    <li>
                      Maximise partcipation for events.
                    </li>
                  </ul>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm facts_head">
            <div class="card text-white bg-dark mb-3" style="text-align: left;">
              <div class="card-body">
                <h2 class="card-title" style="text-align: center;">Perks of Becoming a CA</h2>
                <p class="card-text">
                  <b>Tri-Weekly</b>
                  <ul>
                    <li>
                      Goodies and MILAN Merchandise Worth ₹ 2500
                    </li>
                    <li>
                      Discount Coupons at premium outlets
                    </li>
                  </ul>
                  <b>Top Campus Ambassadors</b>
                  <ul>
                    <li>
                      Chance to meet celebs
                    </li>
                    <li>
                      Top 10 Campus Ambassadors get Goodies and Merchandise worth ₹ 70,000
                    </li>
                  </ul>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-light" id="capreg">REGISTER</button>
      <div class="card text-white bg-dark mb-3 aboutCAP" style="text-align: left;">
        <div class="card-body">
          <h2 class="card-title" style="text-align: center;"> Terms and Conditions</b>
          </h2>
          <p class="card-text">
            <ul>
              <li>
                The Campus Ambassador program is only for College students
              </li>
              <li>
                Certificate of Commemoration will only be given to Campus Ambassadors, if he/she fulfills the necessary criteria, deemed
                fit by the organiser.
              </li>
              <li>
                MILAN, IIIT Kalyani will be providing all the publicity material to the respective college, but will not be responsible for
                any extra cost incurred by the Campus Ambassador.
              </li>
              <li>
                A Campus Ambassador is entitled to 100% travel reimbursement(sleeper class), only if he/she manages to conduct City Elimination
                or bring in a team of size 15 or more
              </li>
              <li>
                Tri-weekly winners will be announced every 3 weeks, whereas the grand prize of top 10 Campus Ambassadors will be given during
                the festival itself.
              </li>
              <li>
                Points may be reduced, depending on your acceptance or rejection of idea, POC’s and shares
              </li>
              <li>
                Changes subjected to Team Alcher, however it will be notified through the portal, do check the portal from time to time.
              </li>
              <li>
                A Maximum of 2 Campus Ambassadors from each college.
              </li>
            </ul>
          </p>
        </div>
      </div>
    </div>

    <div class="container banner">
      <div class="social">
        <ul class="social-icons">
          <li class="social-icon">
            <a href="#" target="_blank">
              <i class="fa fa-facebook-square"></i>
            </a>
          </li>
          <li class="social-icon">
            <a href="#" target="_blank">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
          <li class="social-icon">
            <a href="#" target="_blank">
              <i class="fa fa-twitter-square"></i>
            </a>
          </li>
          <li class="social-icon">
            <a href="#" target="_blank">
              <i class="fa fa-youtube-square"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/core.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="../static/js/ca.js"></script>
</body>

</html>