<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MILAN - 2018</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" media="screen" href="../static/css/index.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="../static/css/hospitality.css" />
  <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
</head>

<body>
  <section class="cover text-center">
    <nav class="navbar navbar-expand-lg navbar-trans navbar-inverse noselect">
      <div class="container">
        <i class="fa fa-bars navbar-toggler navbar-toggler-right" onclick="clickedIt()" data-toggle="collapse" data-target="#navbarToggler-1"></i>
        <a class="navbar-brand" href="./index.html">MILAN</a>
        <div class="collapse navbar-collapse pull-xs-right justify-content-end" id="navbarToggler-1">
          <ul class="navbar-nav mt-2 mt-md-0">
            <li class="nav-item active">
              <a class="nav-link" href="./index.html">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./about.html">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./hospitality.html">Hospitality</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./sponsers.html">Sponsers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./ca.html">Campus Ambassador</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./team.html">Team</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-outline-white btn-outline" href="./register.html">
                <i class="fa fa-user"></i> Login
              </a>
            </li>
            <li class="nav-item">
              <a class="btn btn-outline-white btn-outline" href="./register.html">
                <i class="fa fa-user"></i> Register
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="page-header">
        <h1>Hospitality</h1>
        <br>
      </div>
      <div class="row" style="margin: auto;">
          <div class="card text-white bg-dark mb-3">
              <div class="card-header">
                  <ul class="nav nav-tabs card-header-tabs">
                      <li class="nav-item">
                          <a class="nav-link" data-toggle="tab" href="#reach">How to Reach</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" data-toggle="tab" href="#acco">Accomodation</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" data-toggle="tab" href="#reim">Reimburse</a>
                      </li>
                  </ul>
              </div>
              <div class="card-body" style="text-align: left;">
                <b style="text-align: center;">Welcome to IIIT Kalyani</b>
                  <div class="tab-content">
                      <div class="tab-pane" id="reach">
                          <b>From Railway Station</b>
                          <ol>
                            <li>
                              We will try to provide you with transportation to IIIT Kalyani campus provided you have given us adequate details. We will get in contact with you as soon as you reach Kalyani Railway Station.
                            </li>
                            <li>
                              In case we are not able to provide you with transportation, you have the following options -<br>
                              <ul>
                                <li>
                                  Green Valley buses (white and green carrying IIIT Kalyani placard), provided by the institute will ply to and from the city almost every hour and will operate from Bus Stop, a stone’s throw from the railway station. A minimal charge of Rs. 10 will be charged per person.
                                </li>
                                <li>
                                    Auto rickshaws (@Rs. 20-30) or Sumo (@Rs. 10-20) is another option.
                                </li>
                              </ul>
                            </li>
                          </ol>
                          <b>From Airport</b>
                          <ol>
                            <li>
                                We will try to provide you with transportation to the IIIT Kalyani campus provided you have given us adequate details and your team has at least 25 members.
                            </li>
                            <li>
                                You can hire a pre-paid taxi (@Rs. 2000-2500) to IIIT Kalyani.
                            </li>
                            <li>
                                Inside the campus, get down at the hospitality desk (which will probably be at Hostel.)
                            </li>
                          </ol>
                          <b>NOTE</b>
                          <ol>
                            <li>
                                Picking up of participants is subject to availability of transportation facility.
                            </li>
                            <li>
                                For request of transportation facility, participants need to inform us at least a week in advance by emailing us at publicrelations@iiitkalyani.in . Confirmations for the same will beemailed to you.
                            </li>
                            <li>
                                Transportation will be provided to the teams that have registered earlier and confirmed their transportation with the transportation team 3 days prior to their travel.
                            </li>
                            <li>
                                Also, participants should inform their status to the Organising Team (contact will be shared later) 1 hour before they reach Guwahati Railway Station.
                            </li>
                            <li>
                                On reaching IIIT Kalyani The Hospitality Team will be there to guide you with the procedure to register for the events and accommodation. Some valuable information regarding the same is given below:
                                <ul>
                                  <li>
                                      Hospitality Control Desk will be set up at Hostel (in case of any change in location, you will be informed beforehand). Directions to reach Hospitality Control desk will be there inside the campus (We will be in contact with you as soon as you reach Kalyani).
                                  </li>
                                  <li>
                                      ID card is mandatory at the time of registration at the Hospitality Desk. MILAN'18 ID cards will be issued to each team member after registration and Alcher ID card will be compulsory for taking part in any event.
                                  </li>
                                  <li>
                                      Volunteers will be there to guide you from the Hospitality/Control Desk to your accommodation.
                                  </li>
                                </ul>
                            </li>
                          </ol>
                      </div>
                      <div class="tab-pane" id="acco">
                        <ol>
                          <li>
                              All accommodation will be done in various hostels of IIIT Kalyani, these are Dorm style common rooms, information of which will be given to you at the time of registration
                          </li>
                          <li>
                              Accommodation charges applicable per person are as follows:
                              <ul>
                                <li>
                                    A minimum of Rs. 700 will be charged for 4 days starting from 25st Aug 2018 - 28th Aug 2018.
                                </li>
                                <li>
                                    Meals are not included in this charge.
                                </li>
                                <li>
                                    An additional amount of Rs. 200 will be charged per day per person apart from the above mentioned 4 days.
                                </li>
                                <li>
                                    Blankets are available at the extra cost of Rs. 100 which will be refunded after the return of undamaged blanket.
                                </li>
                              </ul>
                          </li>
                          <li>
                              Accommodation is availed by submitting the total amount atControl Desk on your arrival. You may asked to deposit a caution money of Rs. 100 which will be reimbursed on the last day only if there is no reported loss to the property of IIIT Kalyani.
                          </li>
                          <li>
                              We suggest you to bring your basic requirements (like toothbrush, bed sheet, blankets etc.) for your stay in IIT Kalyani.
                          </li>
                          <li>
                              Accommodation will be strictly on a first come, first serve basis.
                          </li>
                          <li>
                              Accommodation must be confirmed with the Hospitality Team beforehand before setting out your journey. In case the number of persons in a team exceeds the number provided to us by you earlier, the extra persons will be accommodated subject to availability. Any change in the number must be brought to the knowledge of Hospitality Team 2-3 days prior to arrival.
                          </li>
                          <li>
                              Alcohol/ Drugs/ Smoking are strictly prohibited inside the campus. Violating above rules will lead to immediate cancellation of accommodation and depending on the severity, fine can also be imposed.
                          </li>
                          <li>
                              On ground of suspicions, your luggage can be checked by authorities.
                          </li>
                          <li>
                              Food arrangements will be done in the hostel’s mess where you will be staying. It will be available on a pay per meal basis. Alternatively, you can eat from food stalls all over the campus or from hostel canteens.
                          </li>
                        </ol>
                      </div>
                      <div class="tab-pane" id="reim">
                          Only students’ participants can avail travel reimbursement with following conditions for Team Size (Two-way reimbursement per person):<br>
                          16 and above - 50 %<br>
                          11 to 15 - 40 %<br>
                          6 to 10 - 30 %<br>
                          1 to 5 - 25 %<br>
                          <ol>
                            <li>
                                Reimbursement will be done on the evening of 25th Aug 2018 at Control Desk.
                            </li>
                            <li>
                                All reimbursements will be made with respect to sleeper class train fare irrespective of the mode of transportation.
                            </li>
                            <li>
                                Teams availing online accommodation will only be considered for reimbursement.
                            </li>
                            <li>
                                If the number of team members’ increases without prior notice reimbursements will be made according to the original size of the team as per our database.
                            </li>
                            <li>
                                For teams traveling through split train journey, first the shortest distance that can be travelled by the team is calculated and the equivalent direct train sleeper class fare is calculated from the Indian railways website and the reimbursement is done accordingly
                            </li>
                            <li>
                                All participants are required to submit the Xerox copy of their tickets along with their Accommodation Slip in order to avail any reimbursement.
                            </li>
                          </ol>

                          <b>NOTE</b>
                          <ul>
                            <li>
                                Maximum reimbursement per person will be Rs. 500.
                            </li>
                            <li>
                                No reimbursement will be given to team travelling by bus.
                            </li>
                            <li>
                                Example: If a 7-member team is travelling from Delhi (one-way fare 700), each team member will be given 30% of the two-way fare (i.e. 30% of Rs. 1400 = Rs. 420).
                            </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>

      </div>
    </div>
    <div class="social">
        <ul class="social-icons">
          <li class="social-icon">
            <a href="#" target="_blank">
              <i class="fa fa-facebook-square"></i>
            </a>
          </li>
          <li class="social-icon">
            <a href="#" target="_blank">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
          <li class="social-icon">
            <a href="#" target="_blank">
              <i class="fa fa-twitter-square"></i>
            </a>
          </li>
          <li class="social-icon">
            <a href="#" target="_blank">
              <i class="fa fa-youtube-square"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/core.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="../static/js/hospitality.js"></script>
</body>

</html>